<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta content="telephone=no" name="format-detection">
  <title>精选好货</title>
  <link rel="stylesheet" href="/m/css/common/base.css?v=201709011000">
  <link rel="stylesheet" href="/m/css/common/common.css?v=201709121100">
  <script src="https://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
  <script src="/m/libs/jquery-2.1.1.min.js"></script>
  <script src="/m/js/common/common.js?v=201709111800"></script>
  <script src="/m/js/common/main.js?v=201707281400"></script>
  <link rel="stylesheet" href="/m/css/handpicked.css?v=201701041712"/>
  <style>
    .premium li a{max-height: 41.8rem;}
    .flash-sale-icon:before{margin-left: -1.56%;margin-top: -1.56%;}
  </style>
</head><!--精选好货-->

<body>
<!-- 隐藏域 -->
<div>
  <input type="hidden" id="template" value="bbgmall"/>
  <input type="hidden" id="title" value="精选好货"/>
  <input type="hidden" id="imgUrl" value="http://image.wb1688.com/1503988891454.jpg"/>
  <input type="hidden" id="link" value="http://mall.wb1688.com/collection/1?user_id=19591&template=bbgmall"/>
  <input type="hidden" id="appId" value="5"/>
  <input type="hidden" id="wechatServerUrl" value="https://mishanwx.wb1688.com/"/>
</div>

<!--content START-->
<div class="content has-foot">
  <!--商品列表 START-->
  <div class="premium goods-list">
    <h2>精选好货</h2>
    <p class="tips">精挑特色好货</p>
    <ul>
      <li class="p-rel ">
        <a href="/goods/detail/3953?template=bbgmall">
          <img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1503988891454.jpg?imageView2/1/w/600/h/418">
        </a>
        <section class="p-abs">
          <h6 class="ellipsis">梅州有机红心蜜柚 4个装</h6>
              <span class="price">&#xA5;78.90</span>
              <del>&#xA5;86.00</del>
          <span class="i-cart icon-add-cart-c p-abs" data_id="3953"></span>
        </section>
      </li>
      <li class="p-rel ">
        <a href="/goods/detail/3278?template=bbgmall">
          <img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1483705551828.jpg?imageView2/1/w/600/h/418">
        </a>
        <section class="p-abs">
          <h6 class="ellipsis">老刘慢养灵芝鸡</h6>
              <span class="price">&#xA5;198.00</span>
              <del>&#xA5;328.00</del>
          <span class="i-cart icon-add-cart-c p-abs" data_id="3278"></span>
        </section>
      </li>
      <li class="p-rel ">
        <a href="/goods/detail/3380?template=bbgmall">
          <img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1488276171709.jpg?imageView2/1/w/600/h/418">
        </a>
        <section class="p-abs">
          <h6 class="ellipsis">青海黑枸杞礼盒装</h6>
              <span class="price">&#xA5;169.00</span>
          <span class="i-cart icon-add-cart-c p-abs" data_id="3380"></span>
        </section>
      </li>
      <li class="p-rel ">
        <a href="/goods/detail/3460?template=bbgmall">
          <img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1492755043912.jpg?imageView2/1/w/600/h/418">
        </a>
        <section class="p-abs">
          <h6 class="ellipsis">益阳青松鸳鸯蛋 红双喜礼盒装</h6>
              <span class="price">&#xA5;59.90</span>
          <span class="i-cart icon-add-cart-c p-abs" data_id="3460"></span>
        </section>
      </li>
      <li class="p-rel ">
        <a href="/goods/detail/3378?template=bbgmall">
          <img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1489488007575.jpg?imageView2/1/w/600/h/418">
        </a>
        <section class="p-abs">
          <h6 class="ellipsis">盒装枸杞芽茶</h6>
              <span class="price">&#xA5;118.00</span>
          <span class="i-cart icon-add-cart-c p-abs" data_id="3378"></span>
        </section>
      </li>
      <li class="p-rel ">
        <a href="/goods/detail/3335?template=bbgmall">
          <img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1487065756903.jpg?imageView2/1/w/600/h/418">
        </a>
        <section class="p-abs">
          <h6 class="ellipsis">原味苦荞茶 350g</h6>
              <span class="price">&#xA5;38.00</span>
          <span class="i-cart icon-add-cart-c p-abs" data_id="3335"></span>
        </section>
      </li>
    </ul>
  </div>
  <!--商品列表 END-->
</div>
<!--content END-->

<!-- 返回顶部 -->
<div class="backToTop no-foot"><img src="/m/img/icon-top.png"></div>

<!--加入购物车-->
<div class="addCart" id="add-cart">
  <h4 class="p-rel">成功加入购物车<span class="hidePopup"></span></h4>
  <ul class="list">
    <li>
      <p class="list_cover"><img src=""></p>
      <p class="remark">您以普通价格购买了</p>
      <p class="list_title line-clamp"></p>
      <p class="cartCount">加入数量：1</p>
      <p class="totalMoney">总计金额：<em class="yuan">&#165;</em>99.00</p>
    </li>
  </ul>
 
  <p class="tips">进入商品页，有更多优惠哦</p>
  <div class="btn flex">
    <a class="goodsDetail cell" href="">参加活动</a>
    <input class="continueBuy hidePopup cell" type="button" value="继续购物">
    <input class="goBuy hidePopup cell" type="button" value="去结算">
  </div>
</div>

<script src="/m/js/share/initShare.js?v=201706291059"></script>
<script src="/m/libs/lazysizes.min.js?v=4"></script>
<script src="/m/js/goods/addCart.js?v=201710311000"></script>
<script src="/m/js/goods/index.js?v=201706071800"></script>

<div style="display:none">
	<script type="text/javascript">
	
		var path=window.location.host;
		
		if(path=="mall.wangbang.cc"){
			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260118371'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260118371' type='text/javascript'%3E%3C/script%3E"));
		}
		else if(path=="mall.wb1688.com"){
			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260105557'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260105557' type='text/javascript'%3E%3C/script%3E"));
		}
	
	</script>
</div></body>

</html>
