<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta content="telephone=no" name="format-detection">
  <title>汇吃专区</title>
  <link rel="stylesheet" href="/m/css/common/base.css?v=201709011000">
  <link rel="stylesheet" href="/m/css/common/common.css?v=201709121100">
  <script src="https://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
  <script src="/m/libs/jquery-2.1.1.min.js"></script>
  <script src="/m/js/common/common.js?v=201709111800"></script>
  <script src="/m/js/common/main.js?v=201707281400"></script>
  <link rel="stylesheet" href="/m/css/swiper.min.css"/>
  <link rel="stylesheet" href="/m/css/new-goods.css?v=201703211900">
</head><!--新品上市-->

<body>
<!-- 隐藏域 -->
<div>
  <input type="hidden" id="template" value="bbgmall"/>
  <input type="hidden" id="title" value="汇吃专区"/>
  <input type="hidden" id="imgUrl" value="http://image.wb1688.com/1491476923142.jpg"/>
  <input type="hidden" id="link" value="http://mall.wb1688.com/collection/3?user_id=19591&template=bbgmall"/>
  <input type="hidden" id="appId" value="5"/>
  <input type="hidden" id="wechatServerUrl" value="https://mishanwx.wb1688.com/"/>
</div>

<!--content START-->
<div class="content has-foot">
  <!--轮播图 START-->
    <div class="swiper-container scroll-banner">
      <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <a href="javascript:;">
                  <img src="http://image.wb1688.com/1491476923142.jpg">
                </a>
              </li>
      </ul>
      <p class="swiper-pagination"></p>
    </div>
  <!--轮播图 END-->

  <!--商品列表 START-->
    <div class="goods-list">
      <ul>
            <li class="clear ">
              <a href="/goods/detail/4216?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1511339901886.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">美味轩妈蛋黄酥</h4>
                <p class="ellipsis">55g*6枚/盒 </p>
                <p class="line-clamp-3">精选北海鸭蛋黄，进口黄油，匠心制作。</p>
                  <div class="price">
                    <em>&#xA5;</em><strong>45.00</strong>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="4216"></span>
              </section>
            </li>
            <li class="clear ">
              <a href="/goods/detail/4214?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1511245318027.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">天水花牛苹果 粉苹果</h4>
                <p class="ellipsis">果园直发，新鲜直供</p>
                <p class="line-clamp-3">苹果</p>
                  <div class="price">
                    <em>&#xA5;</em><strong>49.90</strong>
                    <del><em class="yuan">&#xA5;</em>58.00</del>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="4214"></span>
              </section>
            </li>
            <li class="clear ">
              <a href="/goods/detail/3250?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1483185460502.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">正宗福建古田花菇</h4>
                <p class="ellipsis">250g 型如花 味鲜美</p>
                <p class="line-clamp-3">花菇系香菇中的珍品，其菇形圆整，质地嫩厚，纹裂状呈白色分布，外观极为精美。</p>
                  <div class="price">
                    <em>&#xA5;</em><strong>38.60</strong>
                    <del><em class="yuan">&#xA5;</em>42.60</del>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="3250"></span>
              </section>
            </li>
            <li class="clear ">
              <a href="/goods/detail/3247?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1483185420608.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">正宗兰州鲜百合</h4>
                <p class="ellipsis"> 香甜软糯，新鲜百合</p>
                <p class="line-clamp-3">兰州百合味极甜美、纤维很少、又毫无苦味，不但闻名全国，亦可称世界第一。</p>
                  <div class="price">
                    <em>&#xA5;</em><strong>42.90</strong>
                    <del><em class="yuan">&#xA5;</em>48.80</del>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="3247"></span>
              </section>
            </li>
            <li class="clear ">
              <a href="/goods/detail/3209?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1483184937437.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">正宗焦作垆土铁棍山药</h4>
                <p class="ellipsis">5斤 香、甜、糯</p>
                <p class="line-clamp-3">铁棍山药上有像铁锈一样的痕迹，故得名铁棍山药；增强免疫机能、促进生长、调节内分泌、调节心肺功能、兴奋制血系统、调节神经系统。</p>
                  <div class="price">
                    <em>&#xA5;</em><strong>46.80</strong>
                    <del><em class="yuan">&#xA5;</em>55.00</del>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="3209"></span>
              </section>
            </li>
            <li class="clear ">
              <a href="/goods/detail/2903?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1483237097707.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">福建古田银耳干</h4>
                <p class="ellipsis">200g 朵小紧密 胶质浓稠</p>
                <p class="line-clamp-3">独具一格的丑耳，无论是栽培技术或者品质都比银耳更上一层楼。</p>
                  <div class="price">
                    <em>&#xA5;</em><strong>19.80</strong>
                    <del><em class="yuan">&#xA5;</em>28.80</del>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="2903"></span>
              </section>
            </li>
            <li class="clear ">
              <a href="/goods/detail/3524?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1495003884363.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">云南玫瑰鲜花饼</h4>
                <p class="ellipsis">600g盒装，传统糕点</p>
                <p class="line-clamp-3"></p>
                  <div class="price">
                    <em>&#xA5;</em><strong>32.80</strong>
                    <del><em class="yuan">&#xA5;</em>48.00</del>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="3524"></span>
              </section>
            </li>
      </ul>
    </div>
  <!--商品列表 END-->
</div>
<!--content END-->

<!-- 返回顶部 -->
<div class="backToTop no-foot"><img src="/m/img/icon-top.png"></div>

<!--加入购物车-->
<div class="addCart" id="add-cart">
  <h4 class="p-rel">成功加入购物车<span class="hidePopup"></span></h4>
  <ul class="list">
    <li>
      <p class="list_cover"><img src=""></p>
      <p class="remark">您以普通价格购买了</p>
      <p class="list_title line-clamp"></p>
      <p class="cartCount">加入数量：1</p>
      <p class="totalMoney">总计金额：<em class="yuan">&#165;</em>99.00</p>
    </li>
  </ul>
 
  <p class="tips">进入商品页，有更多优惠哦</p>
  <div class="btn flex">
    <a class="goodsDetail cell" href="">参加活动</a>
    <input class="continueBuy hidePopup cell" type="button" value="继续购物">
    <input class="goBuy hidePopup cell" type="button" value="去结算">
  </div>
</div>

<script src="/m/js/share/initShare.js?v=201706291059"></script>
<script src="/m/libs/lazysizes.min.js?v=4"></script>
<script src="/m/libs/swiper.min.js"></script>
<script src="/m/js/goods/addCart.js?v=201710311000"></script>
<script src="/m/js/goods/index.js?v=201706071800"></script>

<div style="display:none">
	<script type="text/javascript">
	
		var path=window.location.host;
		
		if(path=="mall.wangbang.cc"){
			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260118371'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260118371' type='text/javascript'%3E%3C/script%3E"));
		}
		else if(path=="mall.wb1688.com"){
			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260105557'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260105557' type='text/javascript'%3E%3C/script%3E"));
		}
	
	</script>
</div></body>

</html>
