<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta content="telephone=no" name="format-detection">
  <title>新品上市</title>
  <link rel="stylesheet" href="/m/css/common/base.css?v=201709011000">
  <link rel="stylesheet" href="/m/css/common/common.css?v=201709121100">
  <script src="https://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
  <script src="/m/libs/jquery-2.1.1.min.js"></script>
  <script src="/m/js/common/common.js?v=201709111800"></script>
  <script src="/m/js/common/main.js?v=201707281400"></script>
  <link rel="stylesheet" href="/m/css/swiper.min.css"/>
  <link rel="stylesheet" href="/m/css/new-goods.css?v=201703211900">
</head><!--新品上市-->

<body>
<!-- 隐藏域 -->
<div>
  <input type="hidden" id="template" value="bbgmall"/>
  <input type="hidden" id="title" value="新品上市"/>
  <input type="hidden" id="imgUrl" value="http://image.wb1688.com/1483437240281.jpg"/>
  <input type="hidden" id="link" value="http://mall.wb1688.com/collection/2?user_id=19591&template=bbgmall"/>
  <input type="hidden" id="appId" value="5"/>
  <input type="hidden" id="wechatServerUrl" value="https://mishanwx.wb1688.com/"/>
</div>

<!--content START-->
<div class="content has-foot">
  <!--轮播图 START-->
    <div class="swiper-container scroll-banner">
      <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <a href="javascript:;">
                  <img src="http://image.wb1688.com/1483437240281.jpg">
                </a>
              </li>
      </ul>
      <p class="swiper-pagination"></p>
    </div>
  <!--轮播图 END-->

  <!--商品列表 START-->
    <div class="goods-list">
      <ul>
            <li class="clear ">
              <a href="/goods/detail/4216?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1511339901886.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">美味轩妈蛋黄酥</h4>
                <p class="ellipsis">55g*6枚/盒 </p>
                <p class="line-clamp-3">精选北海鸭蛋黄，进口黄油，匠心制作。</p>
                  <div class="price">
                    <em>&#xA5;</em><strong>45.00</strong>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="4216"></span>
              </section>
            </li>
            <li class="clear ">
              <a href="/goods/detail/4214?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1511245318027.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">天水花牛苹果 粉苹果</h4>
                <p class="ellipsis">果园直发，新鲜直供</p>
                <p class="line-clamp-3">苹果</p>
                  <div class="price">
                    <em>&#xA5;</em><strong>49.90</strong>
                    <del><em class="yuan">&#xA5;</em>58.00</del>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="4214"></span>
              </section>
            </li>
            <li class="clear ">
              <a href="/goods/detail/4211?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1509936261307.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">云南金边玫瑰花茶50g</h4>
                <p class="ellipsis">干玫瑰花茶</p>
                <p class="line-clamp-3"></p>
                  <div class="price">
                    <em>&#xA5;</em><strong>17.80</strong>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="4211"></span>
              </section>
            </li>
            <li class="clear ">
              <a href="/goods/detail/4209?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1510557436312.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">胖大海120g</h4>
                <p class="ellipsis"></p>
                <p class="line-clamp-3"></p>
                  <div class="price">
                    <em>&#xA5;</em><strong>29.80</strong>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="4209"></span>
              </section>
            </li>
            <li class="clear ">
              <a href="/goods/detail/4208?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1510557497220.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">茉莉花25g</h4>
                <p class="ellipsis"></p>
                <p class="line-clamp-3"></p>
                  <div class="price">
                    <em>&#xA5;</em><strong>16.80</strong>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="4208"></span>
              </section>
            </li>
            <li class="clear ">
              <a href="/goods/detail/3225?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1510555762556.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">广西正宗融安滑皮金桔</h4>
                <p class="ellipsis">现摘新鲜直发，脆甜爽口</p>
                <p class="line-clamp-3"></p>
                  <div class="price">
                    <em>&#xA5;</em><strong>29.80</strong>
                    <del><em class="yuan">&#xA5;</em>36.00</del>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="3225"></span>
              </section>
            </li>
            <li class="clear ">
              <a href="/goods/detail/4181?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1509937059015.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">海苔芝麻南瓜子脆片42g*3包</h4>
                <p class="ellipsis">夹心海苔脆片即食休闲零食小吃</p>
                <p class="line-clamp-3"></p>
                  <div class="price">
                    <em>&#xA5;</em><strong>39.90</strong>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="4181"></span>
              </section>
            </li>
            <li class="clear ">
              <a href="/goods/detail/4064?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1507617498977.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">北海野生墨鱼干 淡晒乌贼干 250g 3~4个</h4>
                <p class="ellipsis">新鲜海捕墨鱼 淡晒墨鱼干原味口感鲜香</p>
                <p class="line-clamp-3">淡干墨鱼手感比较轻，表面光滑，保持了墨鱼的原味，口感鲜香。</p>
                  <div class="price">
                    <em>&#xA5;</em><strong>49.80</strong>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="4064"></span>
              </section>
            </li>
            <li class="clear ">
              <a href="/goods/detail/4065?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1507617272780.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">北海干贝瑶柱 扇贝丁250g</h4>
                <p class="ellipsis">粒形肚胀圆满，色泽浅黄，嫩糯鲜香回甘</p>
                <p class="line-clamp-3">粒形肚胀圆满，色泽浅黄，嫩糯鲜香回甘</p>
                  <div class="price">
                    <em>&#xA5;</em><strong>68.80</strong>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="4065"></span>
              </section>
            </li>
            <li class="clear ">
              <a href="/goods/detail/4066?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1507616865960.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">北海野生虾仁  金钩海米 虾米250g</h4>
                <p class="ellipsis">肉质软嫩、味道鲜醇，煎、炒、蒸、煮均宜，味道鲜美</p>
                <p class="line-clamp-3">肉质软嫩、味道鲜醇，煎、炒、蒸、煮均宜，味道鲜美</p>
                  <div class="price">
                    <em>&#xA5;</em><strong>59.80</strong>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="4066"></span>
              </section>
            </li>
            <li class="clear ">
              <a href="/goods/detail/4018?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1505206163200.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">陕西洛川苹果  12个</h4>
                <p class="ellipsis">新鲜苹果  纯天然红富士 现摘现发</p>
                <p class="line-clamp-3">陕西洛川，人称“苹果之乡”。洛川苹果甲天下，这里出产的苹果，素以色、香、味俱佳著称。 洛川苹果，具有品质优良，果形优美，个大均匀，果面洁净，色泽艳丽，肉质脆密，含糖量高，香甜可口，硬度适中，耐贮藏等特点。 洛川县被列为中国苹果外销的重要生产基地之一。</p>
                  <div class="price">
                    <em>&#xA5;</em><strong>69.90</strong>
                    <del><em class="yuan">&#xA5;</em>78.00</del>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="4018"></span>
              </section>
            </li>
            <li class="clear ">
              <a href="/goods/detail/3698?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1499070186268.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">新疆特产 四色葡萄干</h4>
                <p class="ellipsis">精选礼盒装 760g 果干零食，休闲食品</p>
                <p class="line-clamp-3">四色葡萄组合装，无核白葡萄干，红玫瑰葡萄干，黑加仑葡萄干，树上黄葡萄干。</p>
                  <div class="price">
                    <em>&#xA5;</em><strong>49.90</strong>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="3698"></span>
              </section>
            </li>
            <li class="clear ">
              <a href="/goods/detail/3755?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1500539126478.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">云台冰菊 礼品装 190g/盒</h4>
                <p class="ellipsis">清热解毒，菊中精品</p>
                <p class="line-clamp-3">云台山冰期中成长，冰雪中绽放</p>
                  <div class="price">
                    <em>&#xA5;</em><strong>78.00</strong>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="3755"></span>
              </section>
            </li>
            <li class="clear ">
              <a href="/goods/detail/3796?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1501749225062.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">内蒙古赤峰特产蒙都风干牛肉</h4>
                <p class="ellipsis">250g、500g</p>
                <p class="line-clamp-3"></p>
                  <div class="price">
                    <em>&#xA5;</em><strong>59.90</strong>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="3796"></span>
              </section>
            </li>
            <li class="clear ">
              <a href="/goods/detail/3809?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1502262117234.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">沈师傅酱香鸡蛋干 5袋</h4>
                <p class="ellipsis">四川特产小吃，不添加防腐剂 鸡蛋干开创者 新鲜蛋制品</p>
                <p class="line-clamp-3"></p>
                  <div class="price">
                    <em>&#xA5;</em><strong>24.80</strong>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="3809"></span>
              </section>
            </li>
            <li class="clear ">
              <a href="/goods/detail/3803?template=bbgmall"><img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1502159973404.jpg?imageView2/1/w/324/h/324"></a>
              <section>
                <h4 class="ellipsis">云南云腿 月 饼</h4>
                <p class="ellipsis">50g*4个</p>
                <p class="line-clamp-3"></p>
                  <div class="price">
                    <em>&#xA5;</em><strong>25.00</strong>
                  </div>
                <span class="i-cart icon-add-cart p-abs" data_id="3803"></span>
              </section>
            </li>
      </ul>
    </div>
  <!--商品列表 END-->
</div>
<!--content END-->

<!-- 返回顶部 -->
<div class="backToTop no-foot"><img src="/m/img/icon-top.png"></div>

<!--加入购物车-->
<div class="addCart" id="add-cart">
  <h4 class="p-rel">成功加入购物车<span class="hidePopup"></span></h4>
  <ul class="list">
    <li>
      <p class="list_cover"><img src=""></p>
      <p class="remark">您以普通价格购买了</p>
      <p class="list_title line-clamp"></p>
      <p class="cartCount">加入数量：1</p>
      <p class="totalMoney">总计金额：<em class="yuan">&#165;</em>99.00</p>
    </li>
  </ul>
 
  <p class="tips">进入商品页，有更多优惠哦</p>
  <div class="btn flex">
    <a class="goodsDetail cell" href="">参加活动</a>
    <input class="continueBuy hidePopup cell" type="button" value="继续购物">
    <input class="goBuy hidePopup cell" type="button" value="去结算">
  </div>
</div>

<script src="/m/js/share/initShare.js?v=201706291059"></script>
<script src="/m/libs/lazysizes.min.js?v=4"></script>
<script src="/m/libs/swiper.min.js"></script>
<script src="/m/js/goods/addCart.js?v=201710311000"></script>
<script src="/m/js/goods/index.js?v=201706071800"></script>

<div style="display:none">
	<script type="text/javascript">
	
		var path=window.location.host;
		
		if(path=="mall.wangbang.cc"){
			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260118371'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260118371' type='text/javascript'%3E%3C/script%3E"));
		}
		else if(path=="mall.wb1688.com"){
			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260105557'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260105557' type='text/javascript'%3E%3C/script%3E"));
		}
	
	</script>
</div></body>

</html>
