<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta content="telephone=no" name="format-detection">
    <title>客服助手</title>
    <link rel="stylesheet" href="/m/css/common/base.css?v=201709011000">
    <style>
        * {margin: 0;padding: 0;}
        .add-mg {margin-top: 70px;}
        .hf14 {font-size: 14px;color: #333;text-align: center;line-height: 14px;}
        .mg60 {margin-bottom: 30px;}
        .help-cont img {display: block;width: 145px;height: 145px;margin: 40px auto;}
    </style>
</head>

<body>
    <div class="help-cont">
        <p class="hf14 mg60 add-mg">添加客服微信</p>
        <p class="hf14 mg60">咨询客服XX</p>
        <p class="hf14">在线时间:&nbsp;&nbsp;9:00-24:00</p>
        <img src="http://image.wb1688.com/1508491130941.png" alt="">
        <p class="hf14 mg60">微信号:&nbsp;&nbsp;xxxx</p>
        <p class="hf14 mg60">客服电话:&nbsp;&nbsp;0111111</p>
        <p class="hf14">TEL:&nbsp;&nbsp;1111111</p>
    </div>
</body>

</html>
