<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta content="telephone=no" name="format-detection">
  <title>
		超值团购
  </title>
  <link rel="stylesheet" href="/m/css/common/base.css?v=201709011000">
  <link rel="stylesheet" href="/m/css/common/common.css?v=201709121100">
  <script src="https://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
  <script src="/m/libs/jquery-2.1.1.min.js"></script>
  <script src="/m/js/common/common.js?v=201709111800"></script>
  <script src="/m/js/common/main.js?v=201707281400"></script>
  <link rel="stylesheet" href="/m/css/swiper.min.css">
  <link rel="stylesheet" href="/m/css/group-index.css?v=201705081454">
  <link rel="stylesheet" href="/m/css/group-index-new.css?v=201709071100">
</head>

<body class="bg-ee" id="group-index-page">
<!-- 隐藏域 -->
<div>
  <input type="hidden" id="template" value="bbgmall"/>
  <input type="hidden" id="title" value="超值团购"/>
  <input type="hidden" id="imgUrl" value="http://image.wb1688.com/1494847973200.jpg"/>
  <input type="hidden" id="link" value="http://mall.wb1688.com/activity/group?user_id=19591&template=bbgmall"/>
  <input type="hidden" id="appId" value="5"/>
  <input type="hidden" id="wechatServerUrl" value="https://mishanwx.wb1688.com/"/>
</div>

<!--content START-->
<div class="content">
  <!--分类-->
    <nav class="sort">
      <ul>
          <li class="current">
            <a href="/activity/group?goodsCategoryId=0&template=bbgmall">精选</a>
          </li>
          <li >
            <a href="/activity/group?goodsCategoryId=1003&template=bbgmall">新鲜水果</a>
          </li>
          <li >
            <a href="/activity/group?goodsCategoryId=1006&template=bbgmall">安心蔬菜</a>
          </li>
          <li >
            <a href="/activity/group?goodsCategoryId=1012&template=bbgmall">粮油副食</a>
          </li>
          <li >
            <a href="/activity/group?goodsCategoryId=1009&template=bbgmall">肉禽蛋品</a>
          </li>
          <li >
            <a href="/activity/group?goodsCategoryId=1015&template=bbgmall">安心零食</a>
          </li>
          <li >
            <a href="/activity/group?goodsCategoryId=1024&template=bbgmall">山珍海味</a>
          </li>
          <li >
            <a href="/activity/group?goodsCategoryId=1018&template=bbgmall">茶饮 · 冲调 · 酒</a>
          </li>
      </ul>
    </nav>

  <!--search START-->
  <header>
    <div class="search p-rel">
      <button class="search-btn p-abs"></button>
      <input class="search-txt" type="search" placeholder="搜索团购商品">
    </div>
  </header>
  <!--search END-->

  <!--轮播图 START-->
    <div class="swiper-container scroll-banner">
      <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <a href="javascript:;">
                  <img src="http://image.wb1688.com/1494847973200.jpg">
                </a>
              </li>
      </ul>
      <p class="swiper-pagination"></p>
    </div>
  <!--轮播图 END-->

    <!--团购分类-->
    <div class="nav border-v">
      <section class="flex border-h">
        <a class="cell plate" href="/activity/group?grouponCategoryId=1&template=bbgmall">
          <span class="nav-icon"></span>
          <p class="nav-text">普通团</p>
        </a>
        <a class="cell plate lottery" href="/activity/group?grouponCategoryId=2&template=bbgmall">
          <span class="nav-icon"></span>
          <p class="nav-text">抽奖团</p>
        </a>
        <a class="cell plate preorder" href="/activity/group?grouponCategoryId=3&template=bbgmall">
          <span class="nav-icon"></span>
          <p class="nav-text">预购团</p>
        </a>
      </section>
      <section class="flex  border-h">
        <a class="cell plate community" href="/activity/group?grouponCategoryId=4&template=bbgmall">
          <span class="nav-icon"></span>
          <p class="nav-text">邻家团</p>
        </a>
        <a class="cell plate new" href="/activity/group?grouponCategoryId=5&template=bbgmall">
          <span class="nav-icon"></span>
          <p class="nav-text">新人团</p>
        </a>
        <a class="cell plate free" href="/activity/group?grouponCategoryId=6&template=bbgmall">
          <span class="nav-icon"></span>
          <p class="nav-text">试用团</p>
        </a>
      </section>
    </div>

    <!-- 拼团玩法 -->
    <a class="rule-entry" href="/activity/rule?grouponCategoryId=1&template=bbgmall"></a>

  <!--商品列表 start-->
    <div class="goods-list">
      <ul>
          <li>
            <a href="/activity/activityGoodsDetail/635?template=bbgmall">
              <img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1511850314273.jpg" />

                <p class="list_title flex">
                  <span class="plate ">普通团</span>

                  <span  class="cell ellipsis">阿克苏冰糖心苹果 10斤</span>
                </p>
            </a>
            <p class="list_dec ellipsis">果园 顺丰直发</p>
            <p class="list_final clear">
              <span class="plate-num font_gray">2人团</span>
              <span class="font_gray">拼团价</span>
              <span class="price"><em class="yuan">&#165;</em>76.90</span>
              <span class="alone"><del><em class="yuan">&#165;</em>89.00</del></span>
                <a class="fl-r " href="/activity/activityGoodsDetail/635?template=bbgmall">去开团</a>
            </p>
          </li>
          <li>
            <a href="/activity/activityGoodsDetail/626?template=bbgmall">
              <img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1511233458961.jpg" />

                <p class="list_title flex">
                  <span class="plate ">普通团</span>

                  <span  class="cell ellipsis">正宗赣南脐橙（顺丰）</span>
                </p>
            </a>
            <p class="list_dec ellipsis">果肉细嫩 饱满透亮</p>
            <p class="list_final clear">
              <span class="plate-num font_gray">2人团</span>
              <span class="font_gray">拼团价</span>
              <span class="price"><em class="yuan">&#165;</em>78.90</span>
              <span class="alone"><del><em class="yuan">&#165;</em>89.90</del></span>
                <a class="fl-r " href="/activity/activityGoodsDetail/626?template=bbgmall">去开团</a>
            </p>
          </li>
          <li>
            <a href="/activity/activityGoodsDetail/413?template=bbgmall">
              <img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1504259727631.jpg" />

                <p class="list_title flex">
                  <span class="plate ">普通团</span>

                  <span  class="cell ellipsis">正宗眉县徐香绿心猕猴桃</span>
                </p>
            </a>
            <p class="list_dec ellipsis">5斤24枚 入口软甜 富含维C</p>
            <p class="list_final clear">
              <span class="plate-num font_gray">2人团</span>
              <span class="font_gray">拼团价</span>
              <span class="price"><em class="yuan">&#165;</em>46.90</span>
              <span class="alone"><del><em class="yuan">&#165;</em>55.00</del></span>
                <a class="fl-r " href="/activity/activityGoodsDetail/413?template=bbgmall">去开团</a>
            </p>
          </li>
          <li>
            <a href="/activity/activityGoodsDetail/417?template=bbgmall">
              <img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1504507281467.jpg" />

                <p class="list_title flex">
                  <span class="plate ">普通团</span>

                  <span  class="cell ellipsis">平和琯溪蜜柚 2个/5斤</span>
                </p>
            </a>
            <p class="list_dec ellipsis">味道酸甜，略带苦味，含有丰富的维生素C</p>
            <p class="list_final clear">
              <span class="plate-num font_gray">2人团</span>
              <span class="font_gray">拼团价</span>
              <span class="price"><em class="yuan">&#165;</em>26.80</span>
              <span class="alone"><del><em class="yuan">&#165;</em>29.00</del></span>
                <a class="fl-r " href="/activity/activityGoodsDetail/417?template=bbgmall">去开团</a>
            </p>
          </li>
          <li>
            <a href="/activity/activityGoodsDetail/591?template=bbgmall">
              <img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1509609953584.jpg" />

                <p class="list_title flex">
                  <span class="plate ">普通团</span>

                  <span  class="cell ellipsis">原生态静宁 红富士苹果</span>
                </p>
            </a>
            <p class="list_dec ellipsis">原生态，冰糖心脆甜苹果</p>
            <p class="list_final clear">
              <span class="plate-num font_gray">2人团</span>
              <span class="font_gray">拼团价</span>
              <span class="price"><em class="yuan">&#165;</em>49.90</span>
              <span class="alone"><del><em class="yuan">&#165;</em>58.00</del></span>
                <a class="fl-r " href="/activity/activityGoodsDetail/591?template=bbgmall">去开团</a>
            </p>
          </li>
          <li>
            <a href="/activity/activityGoodsDetail/205?template=bbgmall">
              <img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1492671923038.jpg" />

                <p class="list_title flex">
                  <span class="plate ">普通团</span>

                  <span  class="cell ellipsis">正宗焦作垆土铁棍山药</span>
                </p>
            </a>
            <p class="list_dec ellipsis">5斤 香、甜、糯</p>
            <p class="list_final clear">
              <span class="plate-num font_gray">2人团</span>
              <span class="font_gray">拼团价</span>
              <span class="price"><em class="yuan">&#165;</em>46.80</span>
              <span class="alone"><del><em class="yuan">&#165;</em>55.00</del></span>
                <a class="fl-r " href="/activity/activityGoodsDetail/205?template=bbgmall">去开团</a>
            </p>
          </li>
          <li>
            <a href="/activity/activityGoodsDetail/271?template=bbgmall">
              <img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1497927609672.jpg" />

                <p class="list_title flex">
                  <span class="plate ">普通团</span>

                  <span  class="cell ellipsis">正宗兰州鲜百合</span>
                </p>
            </a>
            <p class="list_dec ellipsis"> 香甜软糯，新鲜百合</p>
            <p class="list_final clear">
              <span class="plate-num font_gray">2人团</span>
              <span class="font_gray">拼团价</span>
              <span class="price"><em class="yuan">&#165;</em>42.90</span>
              <span class="alone"><del><em class="yuan">&#165;</em>48.80</del></span>
                <a class="fl-r " href="/activity/activityGoodsDetail/271?template=bbgmall">去开团</a>
            </p>
          </li>
          <li>
            <a href="/activity/activityGoodsDetail/476?template=bbgmall">
              <img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1505896613550.jpg" />

                <p class="list_title flex">
                  <span class="plate ">普通团</span>

                  <span  class="cell ellipsis">正宗新疆库尔勒香梨 5斤装/10斤装</span>
                </p>
            </a>
            <p class="list_dec ellipsis">梨城美味，西域圣果（新疆产地直发，顺丰空运）</p>
            <p class="list_final clear">
              <span class="plate-num font_gray">2人团</span>
              <span class="font_gray">拼团价</span>
              <span class="price"><em class="yuan">&#165;</em>59.90</span>
              <span class="alone"><del><em class="yuan">&#165;</em>68.00</del></span>
                <a class="fl-r " href="/activity/activityGoodsDetail/476?template=bbgmall">去开团</a>
            </p>
          </li>
          <li>
            <a href="/activity/activityGoodsDetail/480?template=bbgmall">
              <img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1506052297544.jpg" />

                <p class="list_title flex">
                  <span class="plate ">普通团</span>

                  <span  class="cell ellipsis">蒙自甜石榴 果园现摘现发</span>
                </p>
            </a>
            <p class="list_dec ellipsis">籽粒饱满 鲜甜多汁</p>
            <p class="list_final clear">
              <span class="plate-num font_gray">2人团</span>
              <span class="font_gray">拼团价</span>
              <span class="price"><em class="yuan">&#165;</em>36.90</span>
              <span class="alone"><del><em class="yuan">&#165;</em>56.90</del></span>
                <a class="fl-r " href="/activity/activityGoodsDetail/480?template=bbgmall">去开团</a>
            </p>
          </li>
          <li>
            <a href="/activity/activityGoodsDetail/557?template=bbgmall">
              <img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1508228600129.jpg" />

                <p class="list_title flex">
                  <span class="plate ">普通团</span>

                  <span  class="cell ellipsis">云南昭通野苹果</span>
                </p>
            </a>
            <p class="list_dec ellipsis">香甜、脆嫩、多汁</p>
            <p class="list_final clear">
              <span class="plate-num font_gray">2人团</span>
              <span class="font_gray">拼团价</span>
              <span class="price"><em class="yuan">&#165;</em>36.80</span>
              <span class="alone"><del><em class="yuan">&#165;</em>39.90</del></span>
                <a class="fl-r " href="/activity/activityGoodsDetail/557?template=bbgmall">去开团</a>
            </p>
          </li>
          <li>
            <a href="/activity/activityGoodsDetail/605?template=bbgmall">
              <img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1509957960609.jpg" />

                <p class="list_title flex">
                  <span class="plate ">普通团</span>

                  <span  class="cell ellipsis">烟台栖霞 新鲜苹果 5斤  80-85mm</span>
                </p>
            </a>
            <p class="list_dec ellipsis">烟台苹果是山东名优特产之一</p>
            <p class="list_final clear">
              <span class="plate-num font_gray">2人团</span>
              <span class="font_gray">拼团价</span>
              <span class="price"><em class="yuan">&#165;</em>39.90</span>
              <span class="alone"><del><em class="yuan">&#165;</em>48.00</del></span>
                <a class="fl-r " href="/activity/activityGoodsDetail/605?template=bbgmall">去开团</a>
            </p>
          </li>
          <li>
            <a href="/activity/activityGoodsDetail/472?template=bbgmall">
              <img class="lazyload" src="/m/img/transparent.png" data-src="http://image.wb1688.com/1507540100652.jpg" />

                <p class="list_title flex">
                  <span class="plate ">普通团</span>

                  <span  class="cell ellipsis">云南楚雄大姚薄皮核桃1000g</span>
                </p>
            </a>
            <p class="list_dec ellipsis">500g*2包 2017年新货干核桃</p>
            <p class="list_final clear">
              <span class="plate-num font_gray">2人团</span>
              <span class="font_gray">拼团价</span>
              <span class="price"><em class="yuan">&#165;</em>39.90</span>
              <span class="alone"><del><em class="yuan">&#165;</em>56.00</del></span>
                <a class="fl-r " href="/activity/activityGoodsDetail/472?template=bbgmall">去开团</a>
            </p>
          </li>
        <div class="border-bottom"><p>没有更多了哦</p></div>
      </ul>
    </div>
  <!--商品列表 end-->
</div>
<!--content END-->

<div class="backToTop"><img src="/m/img/icon-top.png"></div>

<!--底部选项卡-->
<footer class="bottom-fix flex bottom-tab " id="bottom-bar">
    <a class="cell bottom-item" href="/index?template=bbgmall">
        <span class="bottom-icon"></span>
        <p class="bottom-name">首页</p>
    </a>
    <a class="cell bottom-item" href="/goods/sort?template=bbgmall">
        <span class="bottom-icon"></span>
        <p class="bottom-name">分类</p>
    </a>
    <a class="cell bottom-item" href="/activity/group?template=bbgmall">
        <span class="bottom-icon"></span>
        <p class="bottom-name">团购</p>
    </a>
    <a class="cell bottom-item" href="/cart/index?template=bbgmall">
        <span class="bottom-icon"></span>
        <i class="" id="goods-cart-count"></i>
        <p class="bottom-name">购物车</p>
    </a>
    <a class="cell bottom-item" href="/user/center?template=bbgmall">
        <span class="bottom-icon"></span>
        <p class="bottom-name">我的</p>
    </a>
</footer>

<script>
    var $bottomBar = $('#bottom-bar'),
        $bottomName = $bottomBar.find('p');
    //判断在那一页
    if (window.location.pathname == '/index') {
        $bottomBar.find('a').eq(0).addClass('active').siblings().removeClass('active');
    } else if (window.location.pathname == '/goods/sort') {
        $bottomBar.find('a').eq(1).addClass('active').siblings().removeClass('active');
    } else if (window.location.pathname == '/activity/group') {
        $bottomBar.find('a').eq(2).addClass('active').siblings().removeClass('active');
    } else if (window.location.pathname == '/cart/index') {
        $bottomBar.find('a').eq(3).addClass('active').siblings().removeClass('active');
    } else if (window.location.pathname == '/user/center') {
        $bottomBar.find('a').eq(4).addClass('active').siblings().removeClass('active');
    }
    $.ajax({
        url: '/bottomBar',
        type: 'get',
        dataType: 'json',
        success: function(res) {
            console.log(res);
            if (res.code == 0 && typeof res.obj == 'object') {
                var data = res.obj;
                var aColor = data.color.split(',');
                var name = data.name.split(',');
                var cssText = '.bottom-tab{opacity: 1;}'
                            + '.bottom-item .bottom-icon{background-image: url(' + data.normalSizeIcon + ');}'
                            + '.bottom-item{color: ' + aColor[0] + ';}'
                            + '.bottom-item.active{color: ' + aColor[1] + ';}';
                loadStyleString(cssText);
                for (var i = 0; i < name.length; i++) {
                    $bottomName.eq(i).html(name[i]);
                }
            } else {
                loadStyleString('.bottom-tab{opacity: 1;}');
                console.log(res.message);
            }
        },
        error: function(res) {
            loadStyleString('.bottom-tab{opacity: 1;}');
            console.log(res.responseText);
        }
    });
</script>

<script src="/m/js/share/initShare.js?v=201706291059"></script>
<script src="/m/libs/lazysizes.min.js?v=4"></script>
<script src="/m/libs/swiper.min.js"></script>
<script>
var template = $('#template').val();

$(function() {
  //goods search
  $(".search-txt").click(function() {
    location.href = '/goods/search/index?type=2&template=' + template;
  });
  $(".search-btn").click(function() {
    location.href = '/goods/search/index?type=2&template=' + template;
  });

  //nav选中的li居中
  var currentNav = $('nav .current'),
    idx = currentNav.index(),
    scrollLeft = 0,
    move = (screen.width - currentNav.outerWidth()) / 2;

  if (idx) scrollLeft = currentNav[0].offsetLeft - move;
  $('nav ul').animate({'scrollLeft': scrollLeft});

  //当前商品列表为空
  if (!$('.goods-list li').length) {
    $('.goods-list').hide();
    $('.goods-list-empty').css({
      'height': $(window).height() - 90 - $('header').height()
    });
    $('.goods-list-empty').show();
  }
});

</script>
<div style="display:none">
	<script type="text/javascript">
	
		var path=window.location.host;
		
		if(path=="mall.wangbang.cc"){
			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260118371'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260118371' type='text/javascript'%3E%3C/script%3E"));
		}
		else if(path=="mall.wb1688.com"){
			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260105557'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260105557' type='text/javascript'%3E%3C/script%3E"));
		}
	
	</script>
</div></body>

</html>
