@charset "utf-8";
/* CSS Document */


/* 云店 */
	.cloud_card { padding-bottom:15px; border:1px solid #e5e5e5; border-bottom:none; border-radius:5px; background:#fff url(../img/cloudStore_bg.jpg) repeat-x bottom}
	.cloud_card h1 { position:relative; margin-bottom:10px; height:50px; line-height:40px; padding:5px 10px; font-size:16px; color:#fff; border:none; border-radius:5px 5px 0 0}
	.cloud_card h1 img { float:left; width:40px; height:40px; margin-right:10px; vertical-align:middle; border-radius:50%}
	.cloud_card h1 span { position:absolute; right:0; top:12px}
	.cloud_card h1 span img { border-radius:0; width:26px; height:26px}
	.cloud_card p { padding:5px 10px; overflow:hidden}
	.cloud_card_tel, .cloud_card_add { padding-left:35px !important; background:no-repeat 10px center; background-size:18px auto}
	.cloud_card_tel { background-image:url(../img/cloud_tel.png)}
	.cloud_card_add { background-image:url(../img/cloud_add.png)}
	.cloud_card_status { padding:1px 6px; margin-right:10px; border-radius:5px; font-size:12px; text-align:center; display:inline-block}
	.cloud_card_status1 { color:#fff; background:#e03d3e}
	.cloud_card_status2 { color:#9e21ed; border:1px solid #9e21ed; background:#fff}
	.cloud_card_status3 { color:#f49f34; border:1px solid #f49f34; background:#fff}


	.cloud_store .hd { padding-bottom:10px; overflow:hidden}
	.cloud_store .hd li { position:relative; float:left; width:25%; height:35px; line-height:33px; color:#000 !important; border-style:solid; border-width:1px 1px 1px 0; border-color:#e5e5e5; font-size:14px; text-align:center; color:#999; background:#fff}
	.cloud_store .hd li:last-child { border-right:0 !important}
	.cloud_store .hd .on { border-top-color:transpsrent; border-right-color:transpsrent; border-bottom:none; color:#fff !important}
	.cloud_store .hd .on:after { content:''; position:absolute; left:50%; top:100%; width:0; height:0; margin-left:-6px; border:6px solid; color:#f5f5f5}
	.cloud_store .bd ul { float:left}
	.cloud_store .bd .more { float:left; width:100%; height:30px; line-height:30px; text-align:center; background:yellow}


	.cloud_nearby { position:relative; margin:0 auto; margin-bottom:10px; padding:10px 0; text-align:center; background:#fff}
	.cloud_nearby h2 { margin:0 0 10px 10px; height:20px; padding:0 0 0 10px; background:#fff; font-size:14px; text-align:left; border-left:2px solid #e03d3d; border-bottom:none}
	.cloud_nearby .bd ul { float:left}
	.cloud_nearby .bd li { width:25%; float:left; padding:5px 0; line-height:20px; text-align:center}
	.cloud_nearby .bd li a { font-size:12px; color:#333; display:block; -webkit-tap-highlight-color:rgba(0, 0, 0, 0)}
	.cloud_nearby .bd li img { width:60%; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;  background:url(../img/loading.gif) #fff center center no-repeat;  }
	.cloud_nearby .bd li span { float:left; width:100%; display:block}


	.cloud_l { width:55px; margin-right:15px; line-height:20px}
	.cloud_l img { width:70%; border-radius:50%}
	.cloud_l a { font-size:12px; color:#fff; text-align:center}
	.cloud_r { width:70px; z-index:1000}
	.cloud_r a { float:right; display:block; width:30px; height:30px; background:url(../img/icon_search1.png) no-repeat; background-size:30px auto}

	.cloud .hd { height:70px; border-bottom:none}
	.cloud .hd li { float:left; width:50%; display:inline-block; overflow:hidden; height:35px; line-height:33px; border:1px solid #fff; font-size:14px; text-align:center; color:#fff}
	.cloud .hd li:first-child { border-radius:5px 0 0 5px}
	.cloud .hd li:last-child { border-radius:0 5px 5px 0}
	.cloud .hd .on { background:#fff}

	.cloud_add { position:relative; line-height:40px; padding:0 10px 0 35px; color:#333; border-bottom:1px solid #e5e5e5; background:#fff url(../img/cloud_add.png) no-repeat 10px center; background-size:20px auto; overflow:hidden}
	/*.cloud_add > a { display:block; position:relative; padding:0 10px 0 35px; color:#333}
	.cloud_add > a:active { background:#e5e5e5 url(../img/cloud_add.png) no-repeat 10px center; background-size:20px auto}
	.arrow > .cloud_add:after, .arrow:after { color:#666; content:""; position:absolute; right:10px; top:21px; width:7px; height:7px; margin-top:-5px; border-style:solid; border-width:1px 1px 0 0; -webkit-transform:rotate(45deg)}*/

	.cloud_sort { line-height:30px; margin-bottom:10px; padding:5px 10px; border-bottom:1px solid #e5e5e5; background:#fff; overflow:hidden}
	.cloud_sort li { float:left; width:30%; border-right:1px solid #e7e7e7; text-align:center; background:url(../img/cloud_arrow.png) no-repeat right 15px; background-size:15px auto}
	.cloud_sort li:nth-child(2) { width:40% !important}
	.cloud_sort li:last-child { border-right:none}
	.cloud_sort li a { color:#000; display:block}
	
	.cloud_list i { width:auto !important; margin:0; display:block}
	.cloud_list li p { overflow:hidden}
	
	
	.cloudNav { position:absolute; left:0; top:152px !important; width:100%; box-shadow:0 1px 3px #bbb; -moz-box-shadow: 0 1px 3px #bbb; z-index:99}
	.cloudNav li { float:left; width:100%; height:40px; line-height:40px; border-bottom:1px solid #e7e7e7; background:#fff}
	.cloudNav li a { display:block; padding:0 10px}
	.cloudNav li a:hover { background:#eee}

	.cloud_tips { font-size:16px; text-align:center; padding-top:150px}
	

	/*注册*/
	.cloud_reg { margin:0 auto; padding:0 20px; width:100%; overflow:hidden}
	.cloud_reg h1 { font-size:30px; color:#fff; text-align:center; border:none}
	.cloud_reg li { width:100%; line-height:30px; color:#fff; padding-bottom:15px; overflow:hidden}
	.cloud_reg li a { color:#ffde00; text-decoration:underline}
	.cloud_reg label { float:left; width:70px; text-align:right}
	.cloud_reg .fr { float:none !important; margin-left:70px}
	.cloud_reg input, .cloud_reg textarea { width:100%; height:30px; line-height:30px; font-size:14px; color:#fff; border:none; background:#696c8b}
	.cloud_reg textarea { height:auto}
	.cloud_reg input[type="button"] { width:80px; height:35px; font-size:14px; color:#1c1f2a; text-align:center; border-radius:3px; background:#ffde00; cursor:pointer}
	.cloud_select { width:100%; height:30px; line-height:30px; font-size:14px; color:#fff; border:none; background:#696c8b}
	.cloud_upload li { float:left; width:33.333334%; padding:0; font-size:12px; color:#999; text-align:center; line-height:20px}
	.cloud_upload li img { width:60%; border-radius:50%}
	
	.cloud_regBg { position:absolute; left:0; bottom:0; width:100%; height:auto; background:url(../img/cloud_regBg2.png) no-repeat; background-size:100% auto}


	.cloud_check { display:none}
	.cloud_check + label { width:80px; text-align:left !important; padding-left:20px; margin-top:8px; height:16px; line-height:16px; font-size:14px; color:#fff; background:url(../img/icon_checkbox0.png) no-repeat; background-size:16px auto; display:inline-block}
	.cloud_check:checked + label { background:url(../img/icon_checkbox1.png) no-repeat; background-size:16px auto}



	/*注册成功*/
	.cloud_success { padding:0 20px}
	.cloud_success h1 { font-size:35px; color:#ff4200; text-align:center; border:none}
	.cloud_success p { font-size:14px; color:#fff; line-height:30px; padding-bottom:10px}
	.cloud_success span { color:#ffde00}
	.cloud_success em { color:#ffde00; padding-bottom:1px; border-bottom:1px solid #ffde00}