<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta content="telephone=no" name="format-detection">
<title>安全设置</title>
<link rel="stylesheet" type="text/css" href="/resources/red/css/style.css?v=201612311426">
<link rel="stylesheet" type="text/css" href="/resources/css/main.css?v=201612311426">
<link rel="stylesheet" type="text/css" href="/resources/css/page.css?v=201612311426">
<link rel="stylesheet" type="text/css" href="/resources/css/cloud.css?v=201612311426">
<script type="text/javascript" src="/resources/js/jquery.js?v=201612311426"></script>
<script type="text/javascript" src="/resources/js/common.js?v=201706201140"></script>
<!--<script type="text/javascript" src="/resources/js/main.js?v=201612291707"></script>-->
<style>
.funds_list li { line-height: 30px}
</style>
</head>

<body>
<input type="hidden" id="template" value="bbgmall"/>

<div class="funds_list">
	<ul>
	  	<li><a href="/safe/bind_phone?template=bbgmall">已绑定手机号: 176****6688</a></li>
		<!--<li>面对面收钱二维码：上传二维码</li>-->
		<li><a href="/safe/showSafeAdd?template=bbgmall">设置密码</a></li>
		<li><a href="/safe/showSafeForget?template=bbgmall">忘记密码</a></li>
		<li><a href="/safe/userMsgSetting?template=bbgmall">消息提醒设置</a></li>
	</ul>
</div>

<!--<div class="copyright2">版权所有 &copy; 网邦信息技术提供技术支持</div>-->

<div class="subNav hide">
	<i></i>
	<ul>
		<li><a class="subNav1" href="/index?template=bbgmall"><span></span>邦邦购</a></li>
		<li><a class="subNav2" href="/goods/sort?template=bbgmall"><span></span>商品分类</a></li>
		<li><a class="subNav3" href="/cart/index?template=bbgmall"><span></span>购物车</a></li>
		<li><a class="subNav4" href="/user/center?template=bbgmall"><span></span>用户中心</a></li>
	</ul>
</div>
<div class="popup_bg"></div>
<div style="display:none">
	<script type="text/javascript">
	
		var path=window.location.host;
		
		if(path=="mall.wangbang.cc"){
			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260118371'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260118371' type='text/javascript'%3E%3C/script%3E"));
		}
		else if(path=="mall.wb1688.com"){
			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260105557'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260105557' type='text/javascript'%3E%3C/script%3E"));
		}
	
	</script>
</div></body>
</html>
