<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>消息提醒设置</title>
<link rel="stylesheet" type="text/css" href="/resources/red/css/style.css?v=201612311426">
<link rel="stylesheet" type="text/css" href="/resources/css/main.css?v=201612311426">
<link rel="stylesheet" type="text/css" href="/resources/css/page.css?v=201612311426">
<link rel="stylesheet" type="text/css" href="/resources/css/cloud.css?v=201612311426">
<script type="text/javascript" src="/resources/js/jquery.js?v=201612311426"></script>
<script type="text/javascript" src="/resources/js/common.js?v=201706201140"></script>
<!--<script type="text/javascript" src="/resources/js/main.js?v=201612291707"></script>-->
<script type="text/javascript" src="/resources/js/safe/userMsgSetting.js?v=201512141406"></script>
</head>

<body>
<input type="hidden" id="template" value="bbgmall"/>
<div class="list">
	<h2>商城信息提醒</h2>
	<ul>
		<li>订单提交成功通知<span class="switch fr switchOn" id="M0001"></span></li>
		<li>订单取消通知<span class="switch fr switchOn" id="M0002"></span></li>
		<li>订单支付成功通知<span class="switch fr switchOn" id="M0003"></span></li>
		<li>订单发货通知<span class="switch fr switchOn" id="M0004"></span></li>
		<li>订单确认收货通知<span class="switch fr switchOn" id="M0005"></span></li>
		<li>退款申请通知<span class="switch fr switchOn" id="M0006"></span></li>
	</ul>
</div>